/**************************************************************************
 * Copyleft joserprieto - Some Rights Reserved
 *
 * joserprieto
 *
 *
 * @file        caesar.font.css
 * @author      joserprieto
 * @date        30/05/16 19:25
 * @project     Arte et Marte Layout
 * @projectCode AEM-LYT
 * @site        http://preview.arteetmarte.org
 * @repo        git@bitbucket.org:joserprieto-team/aem-lyt.git
 *
 * @type        css
 */
/* CaesarRegular - latin */
@font-face {
    font-family: 'CaesarRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Caesar/Caesar.eot');
    src: url('../fonts/Caesar/Caesar.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Caesar/Caesar.woff2') format('woff2'),
    url('../fonts/Caesar/Caesar.woff') format('woff'),
    url('../fonts/Caesar/Caesar.ttf') format('truetype'),
    url('../fonts/Caesar/Caesar.svg#CaesarRegular') format('svg');
}