.arte-et-marte-dark-primary-color {
    color: rgba(211,47,47,1) !important;
}
.arte-et-marte-bg-dark-primary-color {
    background-color: rgba(211,47,47,.8) !important;
}
.arte-et-marte-bg-dark-primary-color:hover {
    background-color: rgba(211,47,47,1) !important;
}
.arte-et-marte-primary-color {
    color: rgba(244,67,54,1) !important;
}
.arte-et-marte-bg-primary-color {
    background-color: rgba(244,67,54,.8) !important;
}
.arte-et-marte-bg-primary-color:hover {
    background-color: rgba(244,67,54,1) !important;
}
.arte-et-marte-light-primary-color {
    color: rgba(255,205,210,1) !important;
}
.arte-et-marte-bg-light-primary-color {
    background-color: rgba(255,205,210,1) !important;
}
.arte-et-marte-light-text-icons-color {
    color: rgba(255,255,255,1) !important;
}
.arte-et-marte-bg-light-text-icons-color {
    background-color: rgba(255,255,255,1) !important;
}
.arte-et-marte-accent-color {
    color: rgba(121,85,72,1) !important;
}
.arte-et-marte-bg-accent-color {
    background-color: rgba(121,85,72,1) !important;
}
.arte-et-marte-primary-text-color {
    color: rgba(33,33,33,1) !important;
}
.arte-et-marte-bg-primary-text-color {
    background-color: rgba(33,33,33,1) !important;
}
.arte-et-marte-secondary-text-color {
    color: rgba(114,114,114,1) !important;
}
.arte-et-marte-bg-secondary-text-color {
    background-color: rgba(114,114,114,1) !important;
}
.arte-et-marte-divider-color {
    color: rgba(182,182,182,1) !important;
}
.arte-et-marte-bg-divider-color {
    background-color: rgba(182,182,182,1) !important;
}