/**************************************************************************
 * Copyleft joserprieto - Some Rights Reserved
 *
 * joserprieto
 *
 *
 * @file        custom-parallax.css
 * @author      joserprieto
 * @date        27/05/16 12:12
 * @project     Arte et Marte Layout
 * @projectCode AEM-LYT
 * @site        http://preview.arteetmarte.org
 * @repo        git@bitbucket.org:joserprieto-team/aem-lyt.git
 *
 * @type        css
 */


.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.parallax-container.height-480 {
    height: 480px;
    max-height: 480px;
}
.parallax-container.height-300 {
    height: 300px;
    max-height: 300px;
}