/**************************************************************************
 * Copyleft joserprieto - Some Rights Reserved
 *
 * joserprieto
 *
 *
 * @file        custom-styles.css
 * @author      joserprieto
 * @date        27/05/16 13:59
 * @project     Arte et Marte Layout
 * @projectCode AEM-LYT
 * @site        http://preview.arteetmarte.org
 * @repo        git@bitbucket.org:joserprieto-team/aem-lyt.git
 *
 * @type        css
 */

/**
 * Custom Styles:
 *
 * Elements:
 *
 *  C.S.1. Top Principal Navbar in Home Page
 *  C.S.2. Custom containers
 *  C.S.3. Z-Levels and containers for sections full width
 *  C.S.4.
 *  C.S.5.
 *  C.S.6.
 *  C.S.7.
 *  C.S.8.
 *  C.S.10.
 *  C.S.11.
 *  C.S.12.
 *  C.S.13.
 *  C.S.14.
 *  C.S.15.
 *  C.S.16.
 *  C.S.17.
 */


/* C.S.1. Top Principal Navbar in Home Page
   ========================================================================== */
.nav-principal {
    float:left;
}
.nav-principal a.button-collapse {
    z-index:100;
    background-color:#E12F31;
    color:#ffffff;
    padding:0 .8em 0 .6em;
    width:64px;
    height:64px;
    line-height:64px;
    box-shadow: 2px 20px 20px 5px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 2px 20px 20px 5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 20px 20px 5px rgba(0, 0, 0, 0.45);
}
.nav-principal a.button-collapse:after {
    content: "MENU";
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 100;
    width: 64px;
    height: 15px;
    line-height: 15px;
    background-color: #E12F31;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.nav-principal .side-nav {
    background-color: #E12F31;
    border-right:1px solid #000;
}
.nav-principal .side-nav .li-side-nav-principal-logo a {
    height: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.nav-principal .side-nav-principal ul,
.nav-principal .side-nav-principal ul a,
.nav-principal .side-nav-principal li,
.nav-principal .side-nav-principal li a,
.nav-principal .side-nav-principal ul li,
.nav-principal .side-nav-principal ul li a,
.nav-principal .side-nav-principal li li,
.nav-principal .side-nav-principal li li a {
    font-family: Cinzel, sans-serif;
    color: #f9d4d4;
}
.nav-principal .side-nav-principal > li > a,
.nav-principal .side-nav-principal > li > ul {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
.nav-principal .side-nav-principal > li > a,
.nav-principal .side-nav-principal > li > ul > span {
    font-size:2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .65);
}
.nav-principal .side-nav-principal > li > ul > li > a {
    font-size:1.75rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.nav-principal .side-nav-principal > li > ul > span,
.nav-principal .side-nav-principal > li > ul > li {
    padding:0px 30px;
}
.nav-principal .side-nav-principal li li a,
.nav-principal .side-nav-principal li ul a,
.nav-principal .side-nav-principal li ul li a {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.nav-principal .side-nav-principal a:hover {
    color: #f2a3a4;
    background-color: #831314;
}

@media only screen and (max-width: 601px) {
    .nav-principal a.button-collapse {
        padding:0 .8em 0 .6em;
        width:56px;
        height:56px;
        line-height:56px;
        box-shadow: 2px 15px 15px 5px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 2px 15px 15px 5px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 2px 15px 15px 5px rgba(0, 0, 0, 0.45);
    }
    .nav-principal a.button-collapse:after {
        position: absolute;
        top: 56px;
        width: 56px;
    }
    .nav-principal .side-nav-principal li,
    .nav-principal .side-nav-principal li a {
        height: auto;
    }
}
@media only screen and (max-width: 320px) {
    .nav-principal .side-nav-principal > li > a,
    .nav-principal .side-nav-principal > li > ul > span {
        font-size:.9rem;

    }
    .nav-principal .side-nav-principal > li > ul > li > a {
        font-size:.8rem;
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .nav-principal .side-nav-principal > li > a,
    .nav-principal .side-nav-principal > li > ul > span {
        font-size:1.1rem;

    }
    .nav-principal .side-nav-principal > li > ul > li > a {
        font-size:1rem;
    }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .nav-principal .side-nav-principal > li > a,
    .nav-principal .side-nav-principal > li > ul > span {
        font-size:1.4rem;

    }
    .nav-principal .side-nav-principal > li > ul > li > a {
        font-size:1.2rem;
    }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    .nav-principal .side-nav-principal > li > a,
    .nav-principal .side-nav-principal > li > ul > span {
        font-size:1.6rem;

    }
    .nav-principal .side-nav-principal > li > ul > li > a {
        font-size:1.4rem;
    }
}

/* C.S.2. Custom Containers
   ========================================================================== */
/**
 * Custom container for fullpage section with shadow z-depth
 */
.container-fullpage-arteetmarte {
    width:100% !important;
}
/**
 * Custom container for sections with shadow z-depth
 */
.container-arteetmarte {
    margin: 0 auto;
    max-width:1600px;
    width: 100%;
}
@media only screen and (min-width: 601px) {
    .container-arteetmarte {
        margin: 0 auto;
        max-width:1600px;
        width: 100%;
    }
}
@media only screen and (min-width: 993px) {
    .container-arteetmarte {
        margin: 0 auto;
        max-width:1600px;
        width: 100%;
    }
}
.container-arteetmarte .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
/* C.S.3. Z-Levels and containers for sections full width
   ========================================================================== */
/* Z-levels only top or only button shadows
 none|h-shadow v-shadow blur spread color
 */


/*

// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
*/
/* C.S.3. Home swiper slider
   ========================================================================== */
.responsive-swiper-container {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.home.top-carousel.swiper-container {
    /*width: 100%;*/
    /*height: 586px;*/
    position: relative;
    top: -64px;
}
.home.top-carousel.swiper-slide {}
.home.top-carousel.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 1rem;
    left: 0;
    width: 100%;
}
.home.top-carousel.swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    opacity:.25;
    box-shadow: 2px 2px 2px 1px rgba(131, 19, 20, .85);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(131, 19, 20, .85);
    -moz-box-shadow: 2px 2px 2px 1px rgba(131, 19, 20, .85);
}
.home.top-carousel.swiper-pagination .swiper-pagination-bullet-active {
    opacity:1;
}
.home.top-carousel.swiper-button-next,
.home.top-carousel.swiper-button-prev {
    background-color: #E12F31;
    padding: 1.5rem;
}
.home.bar{
    width: 0%;
    max-width: 100%;
    height: 4px;
    background: #E12F31;
}
.home.progressBar{
    width: 100%;
    background: #fff;
}