/**************************************************************************
 * Copyleft joserprieto - Some Rights Reserved
 *
 * joserprieto
 *
 *
 * @file        custom-styles.css
 * @author      joserprieto
 * @date        27/05/16 13:59
 * @project     Arte et Marte Layout
 * @projectCode AEM-LYT
 * @site        http://preview.arteetmarte.org
 * @repo        git@bitbucket.org:joserprieto-team/aem-lyt.git
 *
 * @type        css
 */

/**
 * principal navbar on left top
 */
.nav-principal {
    float:left;
}
.nav-principal a.button-collapse {
    z-index:100;
    background-color:#E12F31;
    color:#ffffff;
    padding:0 .8em 0 .6em;
    width:64px;
    height:64px;
    line-height:64px;
    box-shadow: 2px 20px 20px 5px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 2px 20px 20px 5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 20px 20px 5px rgba(0, 0, 0, 0.45);
}
.nav-principal a.button-collapse:after {
    content: "MENU";
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 100;
    width: 64px;
    height: 15px;
    line-height: 15px;
    background-color: #E12F31;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.nav-principal .side-nav {
    background-color: #E12F31;
    border-right:1px solid #000;
}
.nav-principal .side-nav .li-side-nav-principal-logo a {
    height: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.nav-principal .side-nav-principal ul,
.nav-principal .side-nav-principal ul a,
.nav-principal .side-nav-principal li,
.nav-principal .side-nav-principal li a,
.nav-principal .side-nav-principal ul li,
.nav-principal .side-nav-principal ul li a,
.nav-principal .side-nav-principal li li,
.nav-principal .side-nav-principal li li a {
    font-family: Cinzel, sans-serif;
    color: #f9d4d4;
}
.nav-principal .side-nav-principal ul,
.nav-principal .side-nav-principal > li > a {
    font-size:2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .65);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
.nav-principal .side-nav-principal > li > ul > span,
.nav-principal .side-nav-principal > li > ul > li {
    padding:0px 30px;
}
.nav-principal .side-nav-principal li li a,
.nav-principal .side-nav-principal li ul a,
.nav-principal .side-nav-principal li ul li a {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.nav-principal .side-nav-principal a:hover {
    color: #f2a3a4;
    background-color: #831314;
}

@media only screen and (max-width: 601px) {
    .nav-principal a.button-collapse {
        padding:0 .8em 0 .6em;
        width:56px;
        height:56px;
        line-height:56px;
        box-shadow: 2px 15px 15px 5px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 2px 15px 15px 5px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 2px 15px 15px 5px rgba(0, 0, 0, 0.45);
    }
    .nav-principal a.button-collapse:after {
        position: absolute;
        top: 56px;
        width: 56px;
    }
    .nav-principal .side-nav-principal li,
    .nav-principal .side-nav-principal li a {
        height: auto;
    }
}
@media only screen and (max-width: 320px) {
    .nav-principal .side-nav-principal li a {
        font-size: .7rem;
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .nav-principal .side-nav-principal li a {
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 481px) and (max-width: 601px) {
    .nav-principal .side-nav-principal li a {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 602px) and (max-width: 800px) {
    .nav-principal .side-nav-principal li a {
        font-size: 1.6rem;
        height: auto;
    }
}
/**
 * Custom container for fullpage section with shadow z-depth
 */
.container-fullpage-arteetmarte {
    width:100% !important;
}

/**
 * Custom container for sections with shadow z-depth
 */
.container-arteetmarte {
    margin: 0 auto;
    max-width:1600px;
    width: 100%;
}
@media only screen and (min-width: 601px) {
    .container-arteetmarte {
        margin: 0 auto;
        max-width:1600px;
        width: 100%;
    }
}
@media only screen and (min-width: 993px) {
    .container-arteetmarte {
        margin: 0 auto;
        max-width:1600px;
        width: 100%;
    }
}

.container-arteetmarte .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

/* Z-levels only top or only button shadows
 none|h-shadow v-shadow blur spread color
 */


/*

// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}


// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
*/